@import "images","colors","article";

h1{
  color: black;
}

body{
  padding: 0;
  margin: 0;
}

section{
  background-color: #F1F3F4;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

